/* line 2, static/css/style.scss */
.gray-border {
  border: 0.3px solid rgba(105, 100, 105, 0.2);
  border-radius: 3.5px; }
  /* line 5, static/css/style.scss */
  .gray-border li {
    margin: 0 !important;
    height: 32px; }
  /* line 9, static/css/style.scss */
  .gray-border li:not(:last-child) {
    border-bottom: 0.3px solid rgba(105, 100, 105, 0.2); }
