{% extends 'tasks/base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class='title-container'>
    <div>
        <h1>TODO List</h1>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'add_task' %}">Add Task</a>
    </div>
</div>
{% comment %} <table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Created At</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.created_at }}</td>
            <td>{{ task.deadline }}</td>
            <td>{% if task.is_done %}
                    Done
                {% else %}
                    Not Done
                {% endif %}</td>
            <td>
                <a class="btn btn-warning btn-sm" href="{% url 'edit_task' task.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete_task' task.id %}">Delete</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'toggle_task_status' task.id %}">
                    {% if task.is_done %}
                        Undo
                    {% else %}
                        Complete
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}
<div class='tasks-container'>
    <ul>
        {% for task in tasks %}
        <li>
            <div class='task-item'>
                <div class='first-column'>
                    <div class='title'>
                        {{ task.content }} 
                        {% if task.is_done %}
                        <span class='done'>Done</span> 
                        {% else %}
                        <span class='not-done'>Not done</span> 
                        {% endif %}  
                    </div> 
                    <div class='date'>
                        Created: {{ task.created_at }} 
                        {% if task.is_done %}
                        Deadline: {{ task.deadline }}
                        {% endif %}
                    </div> 
                    <div class='tags'>
                        Tags: 
                        {% for tag in task.tags.all %} 
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Any tag associated.
                        {% endfor %}
                        <a href="{% url 'edit_task' task.id %}">Update</a>
                        <a href="{% url 'delete_task' task.id %}">Delete</a>
                    </div> 
                </div> 
                <div class='second-column'>
                    <div>
                        {% if task.is_done %}
                        <a class="btn btn-secondary" href="{% url 'toggle_task_status' task.id %}">Undo</a>
                        {% else %}
                        <a class="btn btn-success" href="{% url 'toggle_task_status' task.id %}">Complete</a>
                        {% endif %}  
                    </div>
                </div> 
            </div> 
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
